@page "/rhino3dm"

<PageTitle>Testing a rhino3dm loader</PageTitle>

<h1>rhino3dm loader</h1>

<p>This component demonstrates if rhino3dm works on a non-ASP.NETCore hosted app</p>

@if (circle != null)
{
    <p>rhino3dm loaded and circle created!</p>
    <p>Circle circumference: @circle.Value.Circumference</p>
}
else
{
    <p>There was an error</p>
}

@code {
    private Circle? circle;

    protected override void OnInitialized()
    {
        circle = new Circle(Point3d.Origin, 20);
    }
}