# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = false

# Don't use tabs for indentation.
[*]
indent_style = space
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 2